@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.segment-info {
  display: flex;
  flex-direction: column;
}

.overpass-bold {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
